
<div>

  <h2>Estas son todas nuestras lecciones</h2>

  {{!-- {{allLessons}} --}}

  <ul>
    {{#each allLessons}}

      <li>leccion: {{this.topic}}</li>
      <p>Esta es la mejor lección</p>

    {{/each}}
  </ul>


</div>