<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina con HBS</title>
</head>
<body>
  
  {{!-- esto se visualizará en todas las vistas --}}
  <nav>
    <a href="/">Home</a>
    <a href="/lessons">All Lessons</a>
    <a href="/lessons/web">Lessons WEB</a>
    <a href="/lessons/cyber">Lessons CYBER</a>
    <a href="/lessons/ux">Lessons UX</a>
    <a href="/random-dog">Ver Perrete</a>
    <a href="/breeds">Ver Razas</a>
  </nav>

  {{{body}}}

</body>
</html>